@font-face {
  font-family: 'AvantGarde Bold';
  src: url("../fonts/AvantGardeBold/AvantGarde.eot");
  src: url("../fonts/AvantGardeBold/AvantGarde.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeBold/AvantGarde-Bd.woff2") format("woff2"), url("../fonts/AvantGardeBold/AvantGardeBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'AvantGarde Medium';
  src: url("../fonts/AvantGardMedium/AvantGarde-Medium.eot");
  src: url("../fonts/AvantGardMedium/AvantGarde-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardMedium/AvantGarde-Medium.woff2") format("woff2"), url("../fonts/AvantGardMedium/AvantGarde-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/Avenir/Avenir-Light.eot");
  src: url("../fonts/Avenir/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Avenir Regular';
  src: url("../fonts/Avenir/Avenir-Regular.eot");
  src: url("../fonts/Avenir/Avenir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Regular.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/Avenir/Avenir-Medium.eot");
  src: url("../fonts/Avenir/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }

@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/Avenir/Avenir-Black.eot");
  src: url("../fonts/Avenir/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }

@font-face {
  font-family: 'Avenir Heavy';
  src: url("../fonts/Avenir/Avenir-Heavy.eot");
  src: url("../fonts/Avenir/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }
