@import "colors"


/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1400px)

	/**/
	//common styles page
	.main
		&.home
			&::after
				width: 100%

@media only screen and (max-width : 1300px)

	/**/
	//common styles page
	.main
		&.home
			&::after
				background-position-x: -150px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	//settings block for page
	.standard-p-block
		padding: 160px 0 160px

	.features
		flex-wrap: wrap
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center
		.features-item
			width: 100%
			max-width: 33.33%
			margin-bottom: 24px
			.features-item-body
				.text
					font-size: 22px
					line-height: 26px

	.description
		font-size: 19px

	/**/
	//common styles page
	.main
		.media-section
			&.video
				max-width: 560px
				min-height: initial
				height: 314px
		.text-section
			max-width: 370px
		.wrapper-content
			align-items: flex-start
		&.common
			.wrapper-content
				margin-bottom: 60px
			.text-section
				max-width: 50%
				padding-right: 30px
			.media-section
				max-width: 50%
				&.image
					img
						max-width: 480px
	.vendors
		padding-bottom: 100px
		.wrapper-content
			margin-bottom: 60px
		.media-section
			&.image
				img
					max-width: 480px
		.text-section
			max-width: 50%
			padding-right: 30px
		.media-section
			max-width: 50%
		.button-wrapper
			margin-top: 36px

	.how-it-works
		&.yellow
			.tiles-wrapper
				.tile
					&:nth-child(2)
						.tile-body
							.smallest-title
					//max-width: 246px
					.tile-body
						padding: 0 15px 35px


	.benefits
		.content-block
			min-width: 440px
			padding: 140px 0 140px
		.img-block
			img
				max-width: 500px
		.form-block
			padding: 40px 30px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	/**/
	//settings block for page
	.standard-p-block
		padding: 140px 0 120px

	.middle-main-title
		font-size: 42px
		line-height: 46px

	.description
		font-size: 18px
		line-height: 28px

	.button
		&.small
			padding: 12px 16px

	.features
		.features-item
			max-width: 38%
			margin-bottom: 24px
			.features-item-body
				&.light-green
					min-width: initial
				.text
					font-size: 22px
					line-height: 26px


	//common styles page
	.nav-menu
		li
			padding: 0 16px
	.main
		&.home
			.text-section
				max-width: 340px
				padding-right: 20px
			&::after
				background-position-x: -340px
			.description
				font-size: 26px
				line-height: 30px
		&.common
			.wrapper-content
				// flex-direction: column
				.text-section
					max-width: 100%	
					padding-right: 0	
				.middle-main-title
					max-width: 380px
				.description
					max-width: 630px
				.buttons-wrapper
					margin-bottom: 0
				.media-section
					display: none
					&.image
						max-width: 100%
						img
							max-width: 100%
		&.more
			padding: 160px 0 140px
			.wrapper-content
				flex-direction: column
				.text-section
					max-width: 600px
					margin-bottom: 60px
					.description
						max-width: 536px
				.middle-main-title
					max-width: 220px
				.media-section
					&.image
						max-width: 600px
				.media-section
					display: flex
					
		.main-title
			font-size: 52px
			line-height: 56px
		.media-section
			&.video
				//min-height: 280px
				height: 231px
		.buttons-wrapper
			margin-top: 40px
		.tiles-wrapper
			.tile
				flex-direction: column
				.tile-title
					text-align: center
					color: $pink-color
					text-transform: initial
					margin-bottom: 14px
					font-size: 22px
					line-height: 26px
				.button
					margin-left: 0
			.tile-wrapper
				max-width: 270px

	.vendors
		.text-section
			padding-right: 2vw
		.middle-main-title
			max-width: 380px
			margin-bottom: 26px
		.smallest-title
			text-align: center
		//.description
		//	font-size: 17px
		//	line-height: 27px
		.media-section
			&.image
				img
					max-width: 430px

	.how-it-works

		.tiles-wrapper
			margin-top: 170px
			margin-left: -8px
			margin-right: -8px
			.tile
				padding: 0 8px
				.tile-body
					padding: 0 20px 35px
					img
						top: -74px
						min-height: 160px
						height: 160px
					.smallest-title
						margin-top: 30px


	.benefits
		.content-block
			min-width: 380px
			position: relative
			z-index: 50
		.img-block
			img
				margin-left: -55px
				max-width: 480px

	.our-partners
		.grid-section
			margin-left: -16px
			margin-right: -16px
			.grid-item
				padding: 0 16px

	.sign-up-form
		&.employers
			&::after
					background-position-x: -26vw
		.form-wrapper
			.form
				max-width: 474px
				padding: 48px 0 30px
				.text-block
					padding: 0 38px
					.list-benefits
						li
							.icon
								width: 22px
							.text
								font-size: 17px
								line-height: 27px
				.form-body
					padding: 0 38px




@media only screen and (max-width : 900px)

	.vendors
		.wrapper-content
			flex-direction: column
		.text-section
			max-width: 650px
		.buttons-wrapper
			margin-bottom: 56px
		.media-section
			max-width: 100%
			&.image
				img
					max-width: 100%


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	//settings block for page
	//.smallest-title
	//	font-size: 18px
	//	line-height: 22px

	.standard-p-block
		padding: 120px 0 100px

	.features
		.features-item
			max-width: 42%
			margin-bottom: 24px
			&:nth-child(3)
				max-width: 320px
				order: 3
			&:nth-child(2)
				order: 5
			&:nth-child(4)
				order: 1
			&:nth-child(1)
				order: 2
			&:nth-child(5)
				order: 4
			.features-item-body
				padding: 14px 24px
				.text
					font-size: 20px
					line-height: 24px


	//common styles page
	header
		.nav-menu
			display: none


	.top_mnu
		position: fixed
		top: 0
		left: 0
		right: 0
		background-color: $light-purple
		background-image: url("../img/menu-bg-snippet.png")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		z-index: 2000
		width: 100%
		height: 100%
		ul
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			li
				display: flex
				flex-direction: row
				align-items: center
				justify-content: center
				text-align: center
				width: 100%
				margin-bottom: 24px
				&:nth-child(1) a
					-webkit-animation-duration: 0.5s
					animation-duration: 0.5s
				&:nth-child(2) a
						-webkit-animation-duration: 1s
						animation-duration: 1s
				&:nth-child(3) a
						-webkit-animation-duration: 1.5s
						animation-duration: 1.5s
				&:nth-child(4) a
						-webkit-animation-duration: 2s
						animation-duration: 2s
				&:nth-child(5) a
					-webkit-animation-duration: 2.5s
					animation-duration: 2.5s
				&:last-of-type
					margin-bottom: 0
				a
					display: flex
					font-family: 'AvantGarde Bold', sans-serif
					font-weight: 700
					color: #fff
					font-size: 30px
					line-height: 34px
					letter-spacing: 0.01em
					&.menu-button
						position: absolute
						bottom: 0
						font-family: 'Avenir Heavy', sans-serif
						font-weight: 900
						font-size: 12px
						line-height: 18px
						margin-top: 80px
						margin-bottom: 56px
						text-transform: uppercase
						-webkit-animation-duration: 3s
						animation-duration: 3s
					span
						display: block
						position: relative
						top: -0px
						left: 0
						height: 100%
						-webkit-transition: all 0.5s ease-in-out
						transition: all 0.5s ease-in-out


	.main
		padding: 180px 0 100px
		.wrapper-content
			flex-direction: column
		&.home
			&::after
				background-position-x: -680px
			.text-section
				//max-width: 100%
				padding-right: 0
			.description
				font-size: 24px
				line-height: 28px
		&.employers
			&::after
				background-image: url('../img/employers-bg-banner-xs.png')
				background-size: cover
		&.common
			.wrapper-content
				.text-section
					margin-bottom: 56px
				.buttons-wrapper
					
				.media-section
					&.image
						display: block
		&.more
			padding: 140px 0 120px
			.wrapper-content
				.media-section
					&.image
						max-width: 600px
				.buttons-wrapper
					margin-top: 24px
					margin-bottom: 0
		.smallest-title
			font-size: 12px
		.tiles-wrapper
			margin-top: 60px
			.tile
				padding: 32px 42px
				.tile-title
					font-size: 20px
		.main-title
			font-size: 50px
			line-height: 54px
		.buttons-wrapper
			margin-top: 38px
			margin-bottom: 56px
			.button
				margin-right: 16px
		.media-section
			&.video
				//min-height: 280px
				height: 280px

	.benefits
		.content-block
			padding: 100px 0 100px
			min-width: initial
			width: 100%
			.middle-main-title
				max-width: 400px
		.img-block
			display: none
		.form-block
			.img-snippet
				display: flex

	.how-it-works
		&.yellow
			.tiles-wrapper .tile .tile-body
				padding: 20px 30px
		.tiles-wrapper
			margin-top: 150px
			flex-direction: column
			.tile
				margin-bottom: 48px
				&:nth-child(2)
					.tile-body
						flex-direction: row-reverse
						.smallest-title
							margin-right: 24px
							margin-left: 0
							text-align: left
				.tile-body
					position: relative
					flex-direction: row
					justify-content: space-between
					align-items: flex-end
					padding: 20px 30px
					img
						position: relative
						top: initial
						min-height: 140px
						height: 140px
					.smallest-title
						display: flex
						align-self: center
						height: 100%
						text-align: left
						margin-top: 0
						font-size: 18px
						line-height: 22px
						margin-left: 24px
						max-width: 152px
	.our-partners
		.grid-section
			margin-left: -14px
			margin-right: -14px
			.grid-item
				padding: 0 14px
				width: 33.33%
				&:last-of-type
					display: none

	.main.vendors
		.wrapper-content
			flex-direction: column
		.text-section
			max-width: 710px
		.buttons-wrapper
			margin-bottom: 56px
		.media-section
			max-width: 100%
			&.image
				img
					max-width: 100%
					
	

	.sign-up-form
		&.vendor
			&::after
				background-position-x: -10px
		&.employers
			.form-wrapper
				.form
					.text-block
						.middle-main-title
							max-width: 100%
		.form-wrapper
			.form
				max-width: 100%
				.text-block
					//.smallest-title
					//	font-size: 12px
					.middle-main-title
						font-size: 38px
						line-height: 44px
						max-width: 340px
	///*Disable Animation on Mobile Devices*/
	//.animated
	//	/*CSS transitions*/
	//	-o-transition-property: none !important
	//	-moz-transition-property: none !important
	//	-ms-transition-property: none !important
	//	-webkit-transition-property: none !important
	//	transition-property: none !important
	//	/*CSS transforms*/
	//	-o-transform: none !important
	//	-moz-transform: none !important
	//	-ms-transform: none !important
	//	-webkit-transform: none !important
	//	transform: none !important
	//	/*CSS animations*/
	//	-webkit-animation: none !important
	//	-moz-animation: none !important
	//	-o-animation: none !important
	//	-ms-animation: none !important
	//	animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)

	.middle-main-title
		font-size: 36px
		line-height: 42px

	.description
		font-size: 16px
		line-height: 26px

	.standard-p-block
		padding: 100px 0 80px

	.features
		margin-right: -8px
		margin-left: -8px
		.features-item
			max-width: 42%
			padding: 0 8px
			margin-bottom: 16px
			&:nth-child(3)
				max-width: 100%
				display: flex
				flex-direction: row
				justify-content: center
				.features-item-body
					max-width: 220px
			.features-item-body
				padding: 12px 20px
				.text
					font-size: 18px
					line-height: 22px

	header
		padding: 12px 0
		.logo
			max-width: 101px
		.wrapper-line
			align-items: center
	.main
		padding: 160px 0 90px
		&.home
			&::after
				background-position-x: -720px
			.tiles-wrapper
				.tile
					padding: 24px
					.tile-title
						max-width: 148px
		&.vendors
			&::after
				background-image: url("../img/vendors-bg-banner-xs.png")
				background-position: bottom right
				background-size: cover
			.middle-main-title
				max-width: 320px
		&.common
			.wrapper-content
				.middle-main-title
					max-width: 276px
				.buttons-wrapper
					margin-bottom: 0
				.text-section
					margin-bottom: 40px
		&.more
			padding: 100px 0 90px
			&::after
				background-image: url("../img/more-bg-image-xs.png")
				background-position: top left
				background-size: contain
		&.about-us
			padding-top: 100px
			.wrapper-content
				.media-section.image
					display: none
		.main-title
			margin-bottom: 16px
		.media-section
			&.video
				min-height: 240px
				height: 240px
		
		.buttons-wrapper
			margin-top: 30px
			

	.benefits
		.content-block
			padding: 70px 0 70px
			.middle-main-title
				max-width: 360px
			.description
				max-width: 240px
		.form-block
			padding: 24px 20px
			iframe
				width: 100%
	.how-it-works
		&.yellow
			.content-wrapper
				align-items: center
			.tiles-wrapper
				margin-top: 100px
				.tile .tile-body
					padding: 20px 30px
		.content-wrapper
			align-items: flex-start
			.description
				text-align: left
		.middle-main-title
			margin-bottom: 20px
		.tiles-wrapper
			margin-top: 140px
			.tile
				.tile-body
					padding: 22px 30px
					img
						//position: relative
						top: 0px
						min-height: 120px
						height: 120px
					.smallest-title
						font-size: 16px
						line-height: 22px
						margin-left: 20px
						max-width: 142px

	.sign-up-form
		.form-wrapper
			.form
				.text-block
					.middle-main-title
						font-size: 34px
						line-height: 40px

	footer
		padding: 26px 0 30px
		.logo
			display: none
		.wrapper-line
			flex-direction: column
			align-items: center
		.nav-menu
			li
				text-align: center
		.right-side
			flex-direction: column-reverse
			.button
				margin-top: 24px
				margin-bottom: 0
			.simple-text
				margin-top: 10px
				margin-bottom: 0
				&:first-of-type
					order: 1
			.button
				padding: 12px 18px
				font-size: 14px
				line-height: 18px

@media only screen and (max-width : 480px)

	.middle-main-title
		font-size: 30px
		line-height: 34px

	.description
		line-height: 24px

	.button
		&.small
			font-size: 12px
			line-height: 18px
			letter-spacing: .03em
			padding: 8px 16px

	.standard-p-block
		padding: 80px 0 60px

	.features
		.features-item
			max-width: 48%
			&:nth-child(3)
				.features-item-body
					max-width: 220px
			.features-item-body
				padding: 12px 18px
				.text
					font-size: 16px
					line-height: 20px


	.top_mnu
		ul
			justify-content: flex-end
			li
				a
					&.menu-button
						position: relative

	header
		.menu-button
			font-size: 12px
	.main
		padding: 110px 0 60px
		&.home
			&::after
				background-position-x: -640px
			.text-section
				max-width: 100%
			.description
				font-size: 20px
				line-height: 24px
				max-width: 280px
			.tiles-wrapper
				margin-left: -6px
				margin-right: -6px
				.tile-wrapper
					padding: 0 6px
				.tile
					padding: 20px
					.tile-title
						max-width: 120px
						font-size: 16px
						line-height: 20px
						margin-bottom: 12px
		&.vendors
			.middle-main-title
				max-width: 276px
				margin-bottom: 20px
		&.more
			padding: 80px 0 70px
			.wrapper-content
				.middle-main-title
					max-width: 160px
			.buttons-wrapper
				.button
					margin-bottom: 0!important
			.media-section.group-images img
				margin-bottom: 8px
		.main-title
			font-size: 46px
			line-height: 50px
		.media-section
			&.video
				min-height: 180px
				height: 180px
		.buttons-wrapper
			flex-direction: column
			margin-top: 30px
			.button
				margin-right: 0
			.button + .button
				margin-top: 12px	


	.benefits
		.content-block
			padding: 60px 0 80px
			.middle-main-title
				margin-bottom: 10px
				max-width: 280px
		.form-block
			.img-snippet
				top: -156px
				width: 110px

	.how-it-works
		padding-bottom: 50px
		&.purple
			&:after
				background-image: url('../img/how-it-works-bg-snippet-xs.png')
				background-position: center right
				top: 0
				bottom: initial
		&.yellow
			&:after
				background-image: url('../img/how-it-works-bg-yellow-snippet-xs.png')
				background-position: bottom right
				background-position-y: 160px
				top: 0
				bottom: initial
			&.second
				&::after
					background-image: url('../img/how-it-work-banner-snippet.png')
					background-position-y: center
			.tiles-wrapper
				.tile 
					.tile-body
						padding: 20px 20px
						.smallest-title
							max-width: 200px
							font-size: 14px
						img
							// top: 17px
					&:nth-child(2)
						.tile-body
							.smallest-title
								max-width: 142px
		.tiles-wrapper
			margin-top: 80px
			flex-direction: column
			align-items: center
			.tile
				max-width: 366px
				.tile-body
					img
						// top: 7px
						min-height: 105px
						height: 105px
		
					
	.our-partners
		.middle-main-title
			text-align: left
			width: 100%

	.our-partners
		.grid-section
			margin-left: -10px
			margin-right: -10px
			.grid-item
				padding: 0 10px
				width: 33.33%
				&:last-of-type
					display: none
				.grid-body
					min-height: 104px

	//vendor page

	.sign-up-form
		padding: 0
		&.vendor
			.form-wrapper
				.form
					.form-body-wrapper
						background-color: $blue-medium
		&.employers
			.form-wrapper
				.form
					.form-body-wrapper
						background-color: $blue-primary
		.wrapper-block
			padding: 0
		.form-wrapper
			.img-form-mobile
				display: block
			.form
				padding: 30px 0 0px
				border-radius: 0
				display: flex
				flex-direction: column
				.text-block
					padding: 0 20px
					margin-bottom: 36px
					.list-benefits li .text
						font-size: 16px
					.middle-main-title
						font-size: 30px
						line-height: 34px
						max-width: 240px
				.form-body-wrapper
					padding: 28px 20px 32px
				.form-body
					display: flex
					flex-direction: column
					background-color: #fff
					box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.05)
					border-radius: 8px
					padding: 24px 20px 18px
					.form-title
						margin-top: 0

					//.middle-main-title

	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)

	header
		.menu-button
			display: none

@media only screen and (min-width : 768px) and (max-width: 992px)
	/**/
	.container, .container-md, .container-sm
		max-width: 780px


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container
		max-width: 1220px

@media only screen and (min-width : 1400px)
	footer,
	header
		.container
			max-width: 100%
		.wrapper-line
			padding-left: 50px
			padding-right: 50px

