//@import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1400px)
	.main
		&.home
			&::after
				width: 100%

@media only screen and (max-width : 1300px)
	.main
		&.home
			&::after
				background-position-x: -150px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	//.main
		//.main-title
			//font-size: px
	//.main
		//padding: 200px 0 100px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

	.button
		&.small
			padding: 12px 16px

	.main
		&.home
			.text-section
				max-width: 340px
		.main-title
			font-size: 56px
			line-height: 60px
		.description
			font-size: 28px
			line-height: 32px
		//.wrapper-content
		//	align-items: flex-start
		.media-section
			&.video
				min-height: 280px
				height: 280px
		.buttons-wrapper
			margin-top: 40px
		.tiles-wrapper
			.tile
				flex-direction: column
				.tile-title
					text-align: center
					color: $pink-color
					text-transform: initial
					margin-bottom: 14px
					font-size: 22px
					line-height: 26px
				.button
					margin-left: 0
			.tile-wrapper
				max-width: 270px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px)
	/**/
	.container, .container-md, .container-sm
		max-width: 780px


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container
		max-width: 1220px

@media only screen and (min-width : 1400px)
	footer,
	header
		.container
			max-width: 100%
		.wrapper-line
			padding-left: 50px
			padding-right: 50px

